<% @Language = "VBScript" %>
<% Response.buffer = true %>
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" Content="text-html; charset=Windows-1252">
<script language = "JavaScript" src="gebr/kgcn.js"></script>
<script language=Javascript>
  urlMod = "hlx_inl.htm";
  username = "";
  var args = getArgs(); // uit kgcn.js
  if (args.module) urlMod = "html_gen/ISF" + args.module + "_LD.htm";
  if (args.username) username = args.username;
  top.location.replace("gebr/index.htm?inhoud=" + urlMod);
</script>
</HEAD>
<body>
</BODY>
</HTML>
