h1   { font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-weight: bold; margin-bottom: 0.5em; }
h2   { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold; margin-bottom: 0.5em; }
h3   { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; margin-bottom: 0.5em; }
h4   { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; margin-bottom: 0.5em; }
p    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; margin-top: 0; margin-bottom: 0.5em; padding: 0; border: 0; lineheight: 1em }
blockquote { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; margin-top: 0; margin-bottom: 0.5em; padding: 0; border: 0; lineheight: 1em }
hr   { color: #e7e3f1; margin-top: 0; margin-bottom: 0 }
form { margin-top: 0; margin-bottom: 0;  padding: 0; border: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 10pt;; background-color: #E7E7E7}
td   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
th   { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
pre  { font-family: "Courier New", Courier, mono; font-size: 11pt}
code { font-family: "Courier New", Courier, mono; font-size: 11pt}
sup  { font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
ul   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal}
dt   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; margin-top: auto}
dl   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; margin-top: auto}
li   { list-style-type: disc; margin-top: 0px}
.klikje { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: normal}
.par_kop { font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-style: normal; font-weight: bolder; font-variant: normal; margin-top: 0; margin-bottom: 0; }
.hmenu {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small}
.knop {  font-family: Arial, Helvetica, sans-serif; font-size:10 pt;  background:#B1B1B1; border-style: ridge; padding: 0; padding-left: 3; padding-right: 3; border-width: 1; border-top-color: white; border-left-color: white; }
.grey { color: #C0C0C0 }